{% extends 'base.html.twig' %}

{% block title %}Eleves index{% endblock %}

{% block body %}
    <h1>Eleves index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_eleve</th>
                <th>Prenom_eleve</th>
                <th>Classe_eleve</th>
                <th>Date_naissance_eleve</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for elefe in eleves %}
            <tr>
                <td>{{ elefe.id }}</td>
                <td>{{ elefe.nomEleve }}</td>
                <td>{{ elefe.prenomEleve }}</td>
                <td>{{ elefe.classeEleve }}</td>
                <td>{{ elefe.dateNaissanceEleve ? elefe.dateNaissanceEleve|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('eleves_show', {'id': elefe.id}) }}">show</a>
                    <a href="{{ path('eleves_edit', {'id': elefe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('eleves_new') }}">Create new</a>
{% endblock %}
